* {
  box-sizing: border-box;
}

body {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: 0px 0px 20px #aaaaaa;
}

main {
  padding: 15px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.top {
  display: flex;
  justify-content: space-between;
}

h1.time {
  text-align: center;
}

.crypto-top {
  display: flex;
}

.crypto-top img {
  height: 100%;
  width: 100%;
}

.crypto-top h2 {
  margin-left: 0.5em;
  margin-top: 11px;
}

.crypto-prices {
  font-size: 1.5em;
}
